li {
    display: inline-block;
    border-bottom: 1px solid #04C2C9;
    padding-top: 10px;
    color: white;
}

button {
    margin: 10px;
}

#container {
    position: relative;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #252934;
    height: 80vh;
}

#errMsg {
    color: red;
}